// .fake-image {
// }

.home-hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: #e8e8e8;
}

// .home-hero-left {
//   display: flex;
//   flex-direction: column;
//   gap: 1rem;
// }