ul {
    display: flex;
  }
  
  .collection-container {
    display: grid;
    gap: 1rem;
    place-items: center;
    border: 1px solid;
    padding: 1rem;
  }
  
  .grid-template .all-products{
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    gap: 1rem;
  }