.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.title-logo,
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular, Roboto;
}

.create-form {
  display: flex;
  flex-direction: column;
  margin: 100px 20px 200px 170px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  font-size: 16px;
  box-shadow: 20px 20px 20px 50px rgb(253, 251, 251);
}

.form-group {
  padding: 30px;
}

.form-text {
  float: left;
  padding: 30px 440px 20px 30px;
}

.input {
  width: 100%;
  padding: 20px;
  background-color: #FAFAFA;
  border: none;
}

.btn-primary {
  width: 10%;
  padding: 15px;
  margin: 30px;
  background-color: rgb(250, 49, 80);
  border: none;
  color: aliceblue;
  cursor: pointer;
}

.checkbox {
  margin-left: 30px;
}

.text {
  font-size: 12px;
  padding-left: 10px;
}

.red-text {
  display: inline;
  margin-left: 20px;
  color: red;
  font-size: 14px;
}

.red-text1 {
  display: inline;
  color: red;
  font-size: 14px;
  float: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular, Roboto;
}

.right {
  width: 50%;
  display: inline;
  float: left;
}

.left {
  float: right;
  display: inline;
  width: 50%;
}

.error-text {
  color: red;
}

.grid-collection-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.grid-sale-template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.top-sellers-grid-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.top-post-grid-template {
  display: grid;
  grid-template-columns: repeat(3, 369px);
  gap: 1rem;
}

.button {
  border: none;
  padding: 1.5em 3em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.button-primary {
  color: #fff;
  background-color: firebrick;
}
.button-primary:hover {
  background-color: hsl(0, 68%, 52%);
}

.button-secondary {
  color: #000;
  background-color: #fff;
  border: 1px solid;
  margin-top: 2rem;
}
.button-secondary:hover {
  border: 1px solid #858585;
  color: #858585;
}

.home-hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: #e8e8e8;
}
.home-hero .home-hero-left p {
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
}
.home-hero .home-hero-left h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home-hero .home-hero-right {
  width: 625px;
  height: 647px;
  background-color: #fff;
}

.collection-container,
.top-sellers-container {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 3rem;
}
.collection-container h1, .collection-container ul,
.top-sellers-container h1,
.top-sellers-container ul {
  margin-bottom: 1rem;
}
.collection-container h3,
.top-sellers-container h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.collection-container ul,
.top-sellers-container ul {
  display: flex;
  gap: 1rem;
}
.collection-container .collection-card,
.collection-container .top-sellers-card,
.top-sellers-container .collection-card,
.top-sellers-container .top-sellers-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #e8e8e8;
}
.collection-container .collection-card p:last-of-type,
.collection-container .top-sellers-card p:last-of-type,
.top-sellers-container .collection-card p:last-of-type,
.top-sellers-container .top-sellers-card p:last-of-type {
  margin-bottom: 0.5rem;
}
.collection-container .collection-card p:nth-child(3),
.collection-container .top-sellers-card p:nth-child(3),
.top-sellers-container .collection-card p:nth-child(3),
.top-sellers-container .top-sellers-card p:nth-child(3) {
  color: #a1a1a1;
}

.sale-container {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 3rem;
  background-color: #faefef;
}
.sale-container .sale-card,
.sale-container .sale-ad {
  width: 369px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.sale-container .sale-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  background-color: #fff;
}
.sale-container .sale-ad p:first-of-type {
  color: firebrick;
  font-size: 1.5rem;
}
.sale-container .sale-ad h2 {
  font-size: 3rem;
}
.sale-container .sale-ad p:nth-child(3) {
  font-size: 1.5rem;
}
.sale-container .sale-ad p:nth-child(4) {
  color: #525252;
}
.sale-container .product-title {
  padding: 1rem;
  border-bottom: 1px solid #e8e8e8;
}
.sale-container .product-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #a1a1a1;
}
.sale-container .sale-price {
  display: flex;
}
.sale-container .sale-price p:first-of-type {
  text-decoration: line-through;
}
.sale-container .sale-price p:last-of-type {
  margin-left: 2rem;
}

.top-sellers-container {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 3rem;
}

.top-post-card p {
  padding: 0.5rem 0;
}

.post-product p:first-of-type {
  font-size: 1.5rem;
}
.post-product p:last-of-type {
  color: #676767;
}

.post-comment {
  display: flex;
}
.post-comment p {
  color: #a1a1a1;
}
.post-comment p:first-child {
  margin-right: 1rem;
}

.newsletter-container {
  background-color: #e8e8e8;
  display: grid;
  place-items: center;
  padding: 5rem;
}
.newsletter-container .input-container {
  width: 80%;
  padding: 4rem;
  margin: 0 auto;
  background-color: #fff;
}

.input-controls {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cecece;
  border-radius: 2rem;
}
.input-controls input {
  border: 0;
  border-radius: 2rem;
  outline: none;
  padding: 0 2rem;
  width: 80%;
}
.input-controls .btn-subscribe {
  border: 0;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  background-color: hsl(0, 68%, 42%);
  color: #fff;
}
.input-controls .btn-subscribe:hover {
  background-color: hsl(0, 68%, 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.footer {
  text-align: center;
  background-color: rgb(41, 41, 41);
  color: rgb(193, 195, 196);
  padding: 40px;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */